{% extends "base.html" %}
{% load static%}

    {% block content %}
   <!-- Header Start -->
 <header class="header">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="brand-name">
        <a href="index.html">ANGIE WEDS PAUL.</a>
      </div>
     <div class="nav-toggle">
       <span></span>
     </div>
      <nav class="nav">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#works">Gallery</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- Header End -->

<!-- Home Section Start -->
<section class="home-section" id="home">
  <!-- shape -->
  <div class="shape-01">
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="home-content">
        <h8>We invite you to</h8>
        <h1>Angie and Paul's Wedding</h1>
      </div>
    </div>
  </div>
  <!-- scroll down -->
  <a href="#about" class="scroll-down">
    <img src="{%static 'icons/arrow-down.svg'%}" alt="scroll Down">
  </a>
</section>
<!-- Home Section End -->

<!-- About Section Start -->
<section class="about-section" id="about">
  <div class="container">
    <div class="row">
      <div class="about-img">
        <div class="img-box">
          <div class="shape-02">
          </div>
          <img src="{%static 'images/palsangie.jpeg'%}" alt="about me">
        </div>
      </div>
      <div class="about-content">
         <div class="row">
                <div class="section-title">
                   <h1>About Us</h1>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

              
              <!-- contact btn -->
              <a href ="https://forms.gle/9vUN6HpFi7dMzbDw9"  class="btn btn-01"  target="_blank">Make Pledges</a>

      </div>
    </div>
  </div>
</section>
<!-- About Section End -->



<!-- Work Section Start -->
<section class="work-section" id="works">
  <div class="container">
    <div class="section-title">
      <h1>Our Gallery</h1>
    </div>

    <div class="slideshow-container">

      <div class="mySlides fade">
       
        <img src="{%static 'images/1.jpg'%}">
        
      </div>
      
      <div class="mySlides fade">
        
        <img src="{%static 'images/2.jpg'%}">
       
      </div>
      
      <div class="mySlides fade">
        
        <img src="{%static 'images/3.jpg'%}">
        
      </div>

      <div class="mySlides fade">
        
        <img src="{%static 'images/4.jpg'%}">
        
      </div>

      <div class="mySlides fade">
        
        <img src="{%static 'images/5.jpg'%}">
       
      </div>

      <div class="mySlides fade">
        
        <img src="{%static 'images/6.jpg'%}">
        
      </div>

      <div class="mySlides fade">
        
        <img src="{%static 'images/7.jpg'%}">
        
      </div>

      <div class="mySlides fade">
       
        <img src="{%static 'images/8.jpg'%}">
        
      </div>
      
      </div>
      <br>
      
      <div style="text-align:center">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
      </div>
      
    
    
  </div>
    

</section>
<!-- Work Section End --> 


<!-- Contact Section Start -->
<section class="contact-section" id="contact">
 <div class="container">
   <div class="row">
     <div class="contact-img">
       <div class="img-box">
         <div class="section-title">
           <h1 style="color: black;">Contact Details</h1>
           <p class="accept"> MPESA, SEND MONEY TO (0795081828) ACC NAME: Paul Wamocha  </p>
           
         </div>
         <div class="row">
          <div class="contact-info">
            <div class="row">
              <!-- info item start -->
              <div class="info-item">
                <h5>Paul</h5>
                <p>0708898989</p>
              </div>
              <!-- info item end -->
              <!-- info item start -->
              <div class="info-item">
                <h5>Angela</h5>
                <p>070606508</p>
              </div>
              <!-- info item end -->
              <!-- info item start -->
              <div class="info-item">
                <h5>Email</h5>
                <p>yourmail@gmail.com</p>
              </div>
              <!-- info item end -->
            </div>
          </div>
        </div>
       </div>
     </div>
   </div>
       
       

       <div class="row">
         <div class="social-links">
          
           <a href="#" title="facebook"><img src="{%static 'icons/facebook.svg'%}"  alt="facebook"></a>
           <a href="#" title="twitter"><img src="{%static 'icons/twitter.svg'%}"alt="twitter"></a>
           <a href="#" title="linkedin"><img src="{%static 'icons/linkedin.svg'%}" alt="linkedin"></a>
           <a href="#" title="instagram"><img src="{%static 'icons/instagram.svg'%}" alt="instagram"></a>
         </div>
       </div>

 </div>
</section>
<!-- Contact Section End -->

<!-- copyright text -->
<p class="copyright">&copy;  Copyright 2022 PalsAngie</p>


<!-- lightbox start -->
<div class="lightbox">
 <div class="img-box">
   <div class="lightbox-close">&times;</div>
   <img src="img/works/large/2.jpg" class="lightbox-img" alt="img">
   <div class="lightbox-caption">
     <div class="lightbox-category">
       
     </div>
     <div class="lightbox-counter">
       
     </div>
   </div>
   <div class="lightbox-controls">
     <div class="prev">
       <img src="img/icons/prev.svg" alt="prev">
           </div>
           <div class="next">
             <img src="img/icons/next.svg" alt="next">
           </div>
   </div>
 </div>
</div>
<script>
  let slideIndex = 0;
  showSlides();
  
  function showSlides() {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}    
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 3000); // Change image every 3 seconds
  }
  </script>
  
    {% endblock content %}
