body {
    font-family: "Montserrat";
  }
  
  #title {
    background-color: #ff4c68;
    color: #fff;
    min-height: 100vh;
  }
  
  h1 {
    font-family: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
  }
  
  h2 {
    font-family: " Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
  }
  
  h3 {
    font-family: "Montserrat-Bold"
  }
  
  p {
    color: #8f8f8f;
  }
  
  .container-fluid {
    padding: 3% 15% 7%;
  }
  
  .navbar {
    padding: 0 0 4rem;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-light"
  }
  
  /* Navigation Bar */
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 3.5rem;
    font-weight: bold;
  }
  
  /* Download Buttons */
  .download-button {
    margin: 5% 3% 5% 0;
  }
  
  /* Title Image */
  .title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
  }
  
  
  .green-bar {
    background-color: #8dad93;
    height: 30px;
    z-index: 3;
  }
  
  /* About section */
  #aboutsection {
    padding: 7% 15%;
  }
  
  
  /* Features */
  #features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
  }
  
  .fas {
    color: #ff4c68;
    margin-bottom: 10px;
  }
  
  .fas:hover {
    color: #000;
  }
  
  .feature-box {
    text-align: center;
    padding: 5%;
  }
  
  /* testimonials */
  #testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
  }
  
  .testimonial-image {
    border-radius: 100%;
    margin: 20px;
  }
  
  .carousel-item {
    padding: 7% 15%;
  }
  
  /* press */
  #press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
  }
  
  .press-logo {
    width: 15%;
    margin: 20px 20px 50px;
  }
  
  /* pricing section */
  #pricing {
    padding: 100px;
    text-align: center;
  }
  
  .pricing-column {
    padding: 2% 3%;
  }
  
  @media (max-width: 1028px) {
    #title {
      text-align: center;
    }
  
    .title-image {
      position: static;
      transform: rotate(0);
    }
  }
  
  /* cta section */
  #cta {
    padding: 3% 7%;
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
  }
  .cta-paragraph{
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
  }
  
  .cta-button {
    margin: 5% 2%;
  }
  
  /* Footer section */
  #footer {
    text-align: left;
    padding: 7% 15%;
    background-color: #000000;
  }
  
  .footer-icon {
    margin: 2%;
    position: relative;
    display: flex;
  }
  .subfooter-text {
    font-family: "Montserrat";
    color: #fff;
    display: flex;
    margin-top: 50px;
    margin-left: auto;
  }